<h2>By capital</h2>
<hr>
<div class="row">
    <div class="col">
        <!-- searchBoxComponent -->
        <shared-search-box 
        (onDebounce)="searchBycapital($event)"
        [initialValue]="initialValue"  
        placeHolder="shearch by capital"></shared-search-box>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>

        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
     <countries-table [countries]="countries"></countries-table>
    </div>
</div>